table {
  border-collapse: collapse;
  background-color:white;
}
th,
td {
  border: 1px solid #cecfd5;
  padding: 10px 15px;
}
body{
	font-size:18px;
	text-shadow: 0 1px 0 white;
	color:black;
}
ul {
  list-style-position: inside;
  display:block;
}
header {
 text-shadow: 0 3px 0 white;
 color:black;
 text-align:center;
 font-size:200%;
 width:100%;
 height:300px;
 background-size:cover;
 background-attachment:fixed;
 display:inline-block;
}

html { 
  background: url("wellnessClinic.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.right{
  float:right;
}
.left{
	float:left;
}
.block{
  display:inline-block;
}
  .box{
   border: 1px solid black;
   opacity: 0.8;
   background-color: #ffffff;
 }
 .col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}
a:link{
    color:green;
  }
a:visited{
  color:green;
}
a:hover {
    color: blue;
    background-color: yellow;
}